.DS_Store
.idea*
.idea/*
*.pyc
.DS_Store
*.db
IntelligentImage/media/uploads
IntelligentImage/media/uploads/*
WikipediaImages/.idea/workspace.xml

WikipediaImages/.idea/workspace.xml

WikipediaImages/.idea/workspace.xml

visualindex/vlfeat
