.DS_Store
.idea*
.idea/*
*.pyc
.DS_Store
*.db
*.m~
IntelligentImage/media/uploads
IntelligentImage/media/uploads/*
WikipediaImages/.idea/workspace.xml

WikipediaImages/.idea/workspace.xml

WikipediaImages/.idea/workspace.xml
WikipediaImages/.idea/workspace.xml

WikipediaImages/.idea/workspace.xml

visualindex/log.txt

WikipediaImages/.idea/workspace.xml