.DS_Store
.idea*
.idea/*
*.pyc
.DS_Store
*.db
*.m~
IntelligentImage/media/uploads
IntelligentImage/media/uploads/*
WikipediaImages/.idea/workspace.xml

WikipediaImages/.idea/workspace.xml

WikipediaImages/.idea/workspace.xml
WikipediaImages/.idea/workspace.xml

WikipediaImages/.idea/workspace.xml

visualindex/log.txt

WikipediaImages/.idea/workspace.xml
Precomputation/kebl3465@engs-station49.eng.ox.ac.uk/vocab.mat

Precomputation/kebl3465@engs-station49.eng.ox.ac.uk/album_vocab.mat

computation/kebl3465@engs-station49.eng.ox.ac.uk/album_vocab.mat

Precomputation/kebl3465@engs-station49.eng.ox.ac.uk/vocab_ransac.mat
