.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.color-transition (@time: 0.218s) {
    transition: color @time;
    -moz-transition: color @time; /* Firefox 4 */
    -webkit-transition: color @time; /* Safari and Chrome */
    -o-transition: color @time; /* Opera */
}

.opacity-transition (@time: 0.218s) {
    transition: opacity @time;
    -moz-transition: opacity @time; /* Firefox 4 */
    -webkit-transition: opacity @time; /* Safari and Chrome */
    -o-transition: opacity @time; /* Opera */
}

html {
    height: 100%; width: 100%;
}

body{
    padding: 0; margin: 0;
    height: 100%; width: 100%;
    font-family: 'LeagueGothicRegular', sans-serif;
    background: url('../img/grey-paper-bg.gif');
    color: #6A6666;
}

div {
    display: block;
}

@anchor-clr: #2E6D7B;
@anchor-hvr: #64acbd;
@anchor-active: #7cb1bd;

a {
    text-decoration: none;
    color: @anchor-clr;

    &:hover {
        color: @anchor-hvr;
        .color-transition(0.1s);
    }

    &:active {
        color: @anchor-active;
        .color-transition(0.1s);
    }
}


#page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

#header {
    padding: 0; margin: 0;
    border-bottom: white 5px solid;
    background: url('../img/foundation.jpeg');

    h1 {
        margin: 0;
        padding: 20px 0 10px 0;
        font-size: 100px;
        color: #7cb1bd;
        text-align: center;
        text-transform: uppercase;
        text-shadow: -1px -1px #444;
        .color-transition;

        &:hover {
            color: #e3ca92;
            .color-transition;
        }
    }

    h2 {
        margin: 0;
        padding: 0 0 10px 0;
        font-size: 28px;
        color: #7C7C7C;
        text-align: center;
        text-transform: uppercase;
        .color-transition;

        &:hover {
            color: #999898;
            .color-transition;
        }
    }
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: rgba(0, 0, 0, 0.5)) {
    @val: @x @y @blur @color;
    box-shadow:         @val;
    -webkit-box-shadow: @val;
    -moz-box-shadow:    @val;
}

.box-indent () {
    @val: 1px 1px 0px white, inset 1px 1px 0px #d5d5d5;
    box-shadow:         @val;
    -webkit-box-shadow: @val;
    -moz-box-shadow:    @val;
}

.inset-box () {
    background-color: #eee;
    overflow: hidden;
    .box-indent;
    .rounded-corners(10px);
}

.smooth-box {
    margin: 50px auto;
    padding: 5px 10px 5px 10px;
    max-width: 410px;
    .inset-box;

    h1 {
        margin: 10px 10px 10px 10px;
        padding: 0;
        font-size: 45px;
        float: left;
    }

    #upload-img {
        float: left;
        width: 30px;
        height: 50px;
        margin: 18px 6px 0 20px;
    }

    .form-holder {
        margin: 20px 10px 20px 10px;
    }

    input {
        font-family: 'LeagueGothicRegular', sans-serif;
        font-size: 20px;
        color: #8E8E8E;
    }
}

@img-preview-width: 600px;
@img-preview-margin: 20px;

.img-smooth-box {
    margin: 50px auto;
    max-width: @img-preview-width;
    .inset-box;

    #img-preview {
        display: block;
        max-width: @img-preview-width - @img-preview-margin*2;
        margin: @img-preview-margin auto;
    }
}




a.button {
    font-size: 40px;
    text-align: center;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 white;

}

#credit{
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px 0 white;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #8E8E8E;

    a {
        color: darken(#8E8E8E, 10);

        &:hover {
            text-decoration: underline;
        }
    }
}

.push {
    height: 120px;

}

#loading-box img{
    display: block;
    margin: 10px auto;
}

.tagged-img-wrap {

    position: relative;
    margin: 20px;
    padding: 0;

    img {
        margin: 0;
        padding: 0;
        width: 560px;
        
    }

    .img-tag {
        margin: 0;
        padding: 0;
        position: absolute;
        opacity: 0.5;
        .opacity-transition;


        .tag-border {
            border: #11f411 3px dashed;
            margin: 0;
            padding: 0;
        }

        .tag-label {
            position: relative;
            bottom: -3px;
            margin: 0;
            padding:  4px;
            line-height: 10px;
            font-family: 'Helvetica', san-serif;
            border: #111;
            background-color: #333;
            color: #fff;
            font-size: 14px;
            opacity: 0;
        }

        &:hover .tag-label {
            .opacity-transition;
            opacity: 1;
        }

        &:hover {
            .opacity-transition;
            opacity: 0.8;
        }

        &:hover .tag-border {
            border: #11f411 3px solid;
        }
    }
}

#log-box {
    max-width: 800px;
}

#log-window {
    background-color: #333333;
    margin: 20px;
    padding: 5px 10px 5px 10px;

    p {
        color: #33ff00;
        font-family: consolas, monaco, "Courier New", courier, monospace
    }
}