<!DOCTYPE html>
<html>
<head>
    <title>Intelligent Image</title>

    <link type="text/css" media="screen" href="{{ STATIC_URL }}css/league-gothic.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/base.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.1.3.min.js"></script>
</head>
<body>

    <div id="header">
        <a href=""><h1>Intelligent Image</h1></a>
        <a href="http://twitter.com/maxjaderberg" target="_blank"><h2>Max Jaderberg</h2></a>
    </div>

    <div class="smooth-box">
        <div style="height: 70px;">
            <img id="upload-img" src="{{ STATIC_URL }}img/down_arrow.png"><h1>Upload an image...</h1>
        </div>
        <div class="clearit"></div>
        <div class="form-holder">
            <form method="post" action="{% url upload_image %}" enctype="multipart/form-data">{% csrf_token %}
                {{ form.image }}
                <input type="submit">
            </form>
        </div>
    </div>

    <div id="img-preview-box">

        <img id="img-preview" src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Buckingham_Palace%2C_London_-_April_2009.jpg/800px-Buckingham_Palace%2C_London_-_April_2009.jpg">
{#        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/30_St_Mary_Axe_from_Leadenhall_Street.jpg/400px-30_St_Mary_Axe_from_Leadenhall_Street.jpg">#}
       <a class="button" href="">Go Gadget Tagger</a>
    </div>

    <div id="credit">
        Copyright 2011 <a href="http://about.me/jaderberg" target="_blank">Max Jaderberg</a>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>


</body>
</html>